{{> menu active="about"}}

<div class="columns is-8 content box">
    <div class="column is-three-fifths has-text-centered">
        <p class="title pt-6">
            About The App
        </p>
        <p class="has-text-left mx-6 px-6">
            Here is an app to check the weather. This app was created by Seán Kervick in August 2023. Users can sign-up & login to update and display readings to multiple weatherstations.
        </p>
    </div>
    <div class="column">
        <figure class="image is-square">
            <img src="..\images\weather-instrument.jpg">
        </figure>
    </div>
</div>