{{> welcome-menu}}

<section class="section">
   <div class="content box has-text-centered my-3 py-6"
         style="background: url('/images/weather-background.jpg') no-repeat; background-size: cover;">
        <p class="title">
            Welcome to the WeatherTop App
        </p>
        <p>
            Sign up or Login for weather information.
        </p>
    </div>
</section>